USE [master]
GO
/****** Object:  Database [Ventas]    Script Date: 20/5/2019 12:48:15 ******/
CREATE DATABASE [Ventas]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'Ventas', FILENAME = N'c:\Program Files\Microsoft SQL Server\MSSQL11.MSSQLSERVER\MSSQL\DATA\Ventas.mdf' , SIZE = 4160KB , MAXSIZE = UNLIMITED, FILEGROWTH = 1024KB )
 LOG ON 
( NAME = N'Ventas_log', FILENAME = N'c:\Program Files\Microsoft SQL Server\MSSQL11.MSSQLSERVER\MSSQL\DATA\Ventas_log.ldf' , SIZE = 1040KB , MAXSIZE = 2048GB , FILEGROWTH = 10%)
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [Ventas].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [Ventas]
GO
/****** Object:  Table [dbo].[DATE_DIMENSION]    Script Date: 20/5/2019 12:48:15 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DATE_DIMENSION](
	[IDDATE] [smallint] NOT NULL,
	[DIA] [numeric](2, 0) NOT NULL,
	[MES] [numeric](2, 0) NOT NULL,
	[ANO] [numeric](4, 0) NOT NULL,
 CONSTRAINT [PK_DATE_DIMENSION] PRIMARY KEY CLUSTERED 
(
	[IDDATE] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[POS_RETAIL_SALES_TRASACTION_FACT]    Script Date: 20/5/2019 12:48:15 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[POS_RETAIL_SALES_TRASACTION_FACT](
	[IDTRANSACCIONPOS] [smallint] NOT NULL,
	[IDDATE] [smallint] NULL,
	[IDPROMOCION] [smallint] NULL,
	[IDSTORE] [smallint] NULL,
	[IDPRODUCTO] [smallint] NULL,
	[CANTIDADVENTAS] [smallint] NOT NULL,
	[MONTOVENTAS] [numeric](8, 2) NOT NULL,
	[GANANCIABRUTAIMPORTE] [numeric](8, 2) NOT NULL,
 CONSTRAINT [PK_POS_RETAIL_SALES_TRASACTION] PRIMARY KEY CLUSTERED 
(
	[IDTRANSACCIONPOS] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[PRODUCT_DIMENSION]    Script Date: 20/5/2019 12:48:15 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[PRODUCT_DIMENSION](
	[IDPRODUCTO] [smallint] NOT NULL,
	[DESCRIPCION] [char](30) NOT NULL,
	[TAMANIOPAQUETE] [smallint] NOT NULL,
	[PESO] [numeric](8, 2) NOT NULL,
	[SKPRODUCTO] [smallint] NOT NULL,
 CONSTRAINT [PK_PRODUCT_DIMENSION] PRIMARY KEY CLUSTERED 
(
	[IDPRODUCTO] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[PROMOTION_DIMENSION]    Script Date: 20/5/2019 12:48:15 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[PROMOTION_DIMENSION](
	[IDPROMOCION] [smallint] NOT NULL,
	[NOMBREPRO] [char](30) NOT NULL,
	[TIPOREDUCCIONPRECIO] [smallint] NOT NULL,
	[TIPOMEDIOPROMOCION] [smallint] NOT NULL,
	[SKPROMOCION] [smallint] NOT NULL,
 CONSTRAINT [PK_PROMOTION_DIMENSION] PRIMARY KEY CLUSTERED 
(
	[IDPROMOCION] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[STORE_DIMENSION]    Script Date: 20/5/2019 12:48:15 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[STORE_DIMENSION](
	[IDSTORE] [smallint] NOT NULL,
	[NOMBRETIENDA] [char](30) NOT NULL,
	[DIRECCION] [char](50) NOT NULL,
	[CIUDAD] [char](30) NOT NULL,
	[SKALMACEN] [smallint] NOT NULL,
 CONSTRAINT [PK_STORE_DIMENSION] PRIMARY KEY CLUSTERED 
(
	[IDSTORE] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
INSERT [dbo].[DATE_DIMENSION] ([IDDATE], [DIA], [MES], [ANO]) VALUES (1, CAST(22 AS Numeric(2, 0)), CAST(4 AS Numeric(2, 0)), CAST(2019 AS Numeric(4, 0)))
INSERT [dbo].[DATE_DIMENSION] ([IDDATE], [DIA], [MES], [ANO]) VALUES (2, CAST(23 AS Numeric(2, 0)), CAST(4 AS Numeric(2, 0)), CAST(2019 AS Numeric(4, 0)))
INSERT [dbo].[DATE_DIMENSION] ([IDDATE], [DIA], [MES], [ANO]) VALUES (3, CAST(24 AS Numeric(2, 0)), CAST(4 AS Numeric(2, 0)), CAST(2019 AS Numeric(4, 0)))
INSERT [dbo].[POS_RETAIL_SALES_TRASACTION_FACT] ([IDTRANSACCIONPOS], [IDDATE], [IDPROMOCION], [IDSTORE], [IDPRODUCTO], [CANTIDADVENTAS], [MONTOVENTAS], [GANANCIABRUTAIMPORTE]) VALUES (1, 1, 3, 1, 2, 20, CAST(200.59 AS Numeric(8, 2)), CAST(350.65 AS Numeric(8, 2)))
INSERT [dbo].[POS_RETAIL_SALES_TRASACTION_FACT] ([IDTRANSACCIONPOS], [IDDATE], [IDPROMOCION], [IDSTORE], [IDPRODUCTO], [CANTIDADVENTAS], [MONTOVENTAS], [GANANCIABRUTAIMPORTE]) VALUES (2, 3, 1, 3, 1, 100, CAST(1000.56 AS Numeric(8, 2)), CAST(1350.89 AS Numeric(8, 2)))
INSERT [dbo].[POS_RETAIL_SALES_TRASACTION_FACT] ([IDTRANSACCIONPOS], [IDDATE], [IDPROMOCION], [IDSTORE], [IDPRODUCTO], [CANTIDADVENTAS], [MONTOVENTAS], [GANANCIABRUTAIMPORTE]) VALUES (3, 5, 4, 5, 4, 5, CAST(30.95 AS Numeric(8, 2)), CAST(50.96 AS Numeric(8, 2)))
INSERT [dbo].[PRODUCT_DIMENSION] ([IDPRODUCTO], [DESCRIPCION], [TAMANIOPAQUETE], [PESO], [SKPRODUCTO]) VALUES (1, N'Chompa Negra                  ', 20, CAST(40.30 AS Numeric(8, 2)), 1)
INSERT [dbo].[PRODUCT_DIMENSION] ([IDPRODUCTO], [DESCRIPCION], [TAMANIOPAQUETE], [PESO], [SKPRODUCTO]) VALUES (2, N'Jean Azul                     ', 15, CAST(89.30 AS Numeric(8, 2)), 2)
INSERT [dbo].[PRODUCT_DIMENSION] ([IDPRODUCTO], [DESCRIPCION], [TAMANIOPAQUETE], [PESO], [SKPRODUCTO]) VALUES (3, N'Camiseta Blanca               ', 10, CAST(34.60 AS Numeric(8, 2)), 3)
INSERT [dbo].[PROMOTION_DIMENSION] ([IDPROMOCION], [NOMBREPRO], [TIPOREDUCCIONPRECIO], [TIPOMEDIOPROMOCION], [SKPROMOCION]) VALUES (1, N'Lunes Loco                    ', 10, 20, 1)
INSERT [dbo].[PROMOTION_DIMENSION] ([IDPROMOCION], [NOMBREPRO], [TIPOREDUCCIONPRECIO], [TIPOMEDIOPROMOCION], [SKPROMOCION]) VALUES (2, N'Martes Loco                   ', 15, 20, 2)
INSERT [dbo].[PROMOTION_DIMENSION] ([IDPROMOCION], [NOMBREPRO], [TIPOREDUCCIONPRECIO], [TIPOMEDIOPROMOCION], [SKPROMOCION]) VALUES (3, N'Miercoles Loco                ', 10, 20, 3)
INSERT [dbo].[STORE_DIMENSION] ([IDSTORE], [NOMBRETIENDA], [DIRECCION], [CIUDAD], [SKALMACEN]) VALUES (1, N'Supermaxi                     ', N'La lorena                                         ', N'Quito                         ', 1)
INSERT [dbo].[STORE_DIMENSION] ([IDSTORE], [NOMBRETIENDA], [DIRECCION], [CIUDAD], [SKALMACEN]) VALUES (2, N'El Tia                        ', N'La Libertad                                       ', N'Quito                         ', 2)
INSERT [dbo].[STORE_DIMENSION] ([IDSTORE], [NOMBRETIENDA], [DIRECCION], [CIUDAD], [SKALMACEN]) VALUES (3, N'Mi Comisariato                ', N'Michelena                                         ', N'Quito                         ', 3)
/****** Object:  Index [DATE_DIMENSION_PK]    Script Date: 20/5/2019 12:48:15 ******/
CREATE UNIQUE NONCLUSTERED INDEX [DATE_DIMENSION_PK] ON [dbo].[DATE_DIMENSION]
(
	[IDDATE] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [POS_RETAIL_SALES_TRASACTION_FACT_PK]    Script Date: 20/5/2019 12:48:15 ******/
CREATE UNIQUE NONCLUSTERED INDEX [POS_RETAIL_SALES_TRASACTION_FACT_PK] ON [dbo].[POS_RETAIL_SALES_TRASACTION_FACT]
(
	[IDTRANSACCIONPOS] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [RELATIONSHIP_1_FK]    Script Date: 20/5/2019 12:48:15 ******/
CREATE NONCLUSTERED INDEX [RELATIONSHIP_1_FK] ON [dbo].[POS_RETAIL_SALES_TRASACTION_FACT]
(
	[IDDATE] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [RELATIONSHIP_2_FK]    Script Date: 20/5/2019 12:48:15 ******/
CREATE NONCLUSTERED INDEX [RELATIONSHIP_2_FK] ON [dbo].[POS_RETAIL_SALES_TRASACTION_FACT]
(
	[IDPRODUCTO] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [RELATIONSHIP_3_FK]    Script Date: 20/5/2019 12:48:15 ******/
CREATE NONCLUSTERED INDEX [RELATIONSHIP_3_FK] ON [dbo].[POS_RETAIL_SALES_TRASACTION_FACT]
(
	[IDPROMOCION] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [RELATIONSHIP_4_FK]    Script Date: 20/5/2019 12:48:15 ******/
CREATE NONCLUSTERED INDEX [RELATIONSHIP_4_FK] ON [dbo].[POS_RETAIL_SALES_TRASACTION_FACT]
(
	[IDSTORE] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [PRODUCT_DIMENSION_PK]    Script Date: 20/5/2019 12:48:15 ******/
CREATE UNIQUE NONCLUSTERED INDEX [PRODUCT_DIMENSION_PK] ON [dbo].[PRODUCT_DIMENSION]
(
	[IDPRODUCTO] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [PROMOTION_DIMENSION_PK]    Script Date: 20/5/2019 12:48:15 ******/
CREATE UNIQUE NONCLUSTERED INDEX [PROMOTION_DIMENSION_PK] ON [dbo].[PROMOTION_DIMENSION]
(
	[IDPROMOCION] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [STORE_DIMENSION_PK]    Script Date: 20/5/2019 12:48:15 ******/
CREATE UNIQUE NONCLUSTERED INDEX [STORE_DIMENSION_PK] ON [dbo].[STORE_DIMENSION]
(
	[IDSTORE] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
ALTER TABLE [dbo].[POS_RETAIL_SALES_TRASACTION_FACT]  WITH CHECK ADD  CONSTRAINT [FK_POS_RETA_RELATIONS_DATE_DIM] FOREIGN KEY([IDDATE])
REFERENCES [dbo].[DATE_DIMENSION] ([IDDATE])
GO
ALTER TABLE [dbo].[POS_RETAIL_SALES_TRASACTION_FACT] CHECK CONSTRAINT [FK_POS_RETA_RELATIONS_DATE_DIM]
GO
ALTER TABLE [dbo].[POS_RETAIL_SALES_TRASACTION_FACT]  WITH CHECK ADD  CONSTRAINT [FK_POS_RETA_RELATIONS_PRODUCT_] FOREIGN KEY([IDPRODUCTO])
REFERENCES [dbo].[PRODUCT_DIMENSION] ([IDPRODUCTO])
GO
ALTER TABLE [dbo].[POS_RETAIL_SALES_TRASACTION_FACT] CHECK CONSTRAINT [FK_POS_RETA_RELATIONS_PRODUCT_]
GO
ALTER TABLE [dbo].[POS_RETAIL_SALES_TRASACTION_FACT]  WITH CHECK ADD  CONSTRAINT [FK_POS_RETA_RELATIONS_PROMOTIO] FOREIGN KEY([IDPROMOCION])
REFERENCES [dbo].[PROMOTION_DIMENSION] ([IDPROMOCION])
GO
ALTER TABLE [dbo].[POS_RETAIL_SALES_TRASACTION_FACT] CHECK CONSTRAINT [FK_POS_RETA_RELATIONS_PROMOTIO]
GO
ALTER TABLE [dbo].[POS_RETAIL_SALES_TRASACTION_FACT]  WITH CHECK ADD  CONSTRAINT [FK_POS_RETA_RELATIONS_STORE_DI] FOREIGN KEY([IDSTORE])
REFERENCES [dbo].[STORE_DIMENSION] ([IDSTORE])
GO
ALTER TABLE [dbo].[POS_RETAIL_SALES_TRASACTION_FACT] CHECK CONSTRAINT [FK_POS_RETA_RELATIONS_STORE_DI]
GO
USE [master]
GO
